.textarea {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #738694;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 15px;
}

tr, td, th {
  border: 1px solid #CED9E0;
}


td:hover {
  background: #F4F8FA;
  & .textarea{
    background: #F4F8FA;
  }
}
.textarea:focus {
  background: #F4F8FA;
  height: 33px!important;
}

td:active{
  background: white;
  border: 1px solid #2684FF;
  & .textarea{
    background: white;
  }
}

.tr {
  height: 30px;
  position: relative;
}

.deleteRowButton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  padding: 0;
  margin: auto;
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}
.lastCell{
  background: #F4F8FA;
}
.addRowButton{
  border: none;
  background: none;
  margin: 5px 10px;
}
.lastRow{
  height: 40px;
  background: #F4F8FA;
  text-align: left;
}